# List Data Structura
* A list a mutable and ordered collection of items
* List syntax: **list((1, 2, 3, 4, 5))** or **[1, 2, 3, 4, 5]**

In [3]:
# List creation
new_list = []
new_list1 = list()
print(new_list)
print(new_list1)

[]
[]

In [4]:
# Type of list
type(new_list)

list

In [6]:
# List of numbers
nums = [1, 2, 3, 4, 5]
nums1 = list((10,15,20))
print(type(nums))
print(type(nums1))

<class 'list'>
<class 'list'>

In [7]:
# List of strings
str_list = ['blue','red','yellow']
print(str_list)

['blue', 'red', 'yellow']

In [8]:
# Multiple types in a list
mixed_list = ['Blue', True, 1, 3.5]
print('The mixed list:', mixed_list)

The mixed list: ['Blue', True, 1, 3.5]

In [9]:
# List in a list
nums = [1, 2, [3, 3.1, 3.5], 4, 5]
print(nums)

[1, 2, [3, 3.1, 3.5], 4, 5]

In [10]:
# Accesing list items with the index number
print(nums[0])
print(nums[1])
print(nums[2])

1
2
[3, 3.1, 3.5]

In [11]:
# Knowing the number of items list
len(nums)

5

In [12]:
nums[0:3]

[1, 2, [3, 3.1, 3.5]]

In [13]:
nums[:3]

[1, 2, [3, 3.1, 3.5]]

In [14]:
print(nums[-1])
print(nums[-2])

5
4

In [26]:
colors = ['red','blue','white']

In [27]:
'white' in colors

True

In [28]:
'black' not in colors

True

In [29]:
colors.append('yellow')
colors

['red', 'blue', 'white', 'yellow']

In [30]:
colors.insert(2,'green')
colors

['red', 'blue', 'green', 'white', 'yellow']

In [31]:
colors.pop(3)
colors

['red', 'blue', 'green', 'yellow']

In [32]:
colors.extend(['orange','cyan'])
colors

['red', 'blue', 'green', 'yellow', 'orange', 'cyan']

In [33]:
del colors[0]
colors

['blue', 'green', 'yellow', 'orange', 'cyan']

In [34]:
colors[2] = 'white'
colors

['blue', 'green', 'white', 'orange', 'cyan']

# Tuple Data Structure
* Tuple is immutable and ordered sequence
* Syntax: **tuple((1, 2, 3))** or **(1, 2, 3)**

In [35]:
nums = tuple((1, 2, 3, 4, 5))
nums1 = (1, 2, 3, 4, 5, 6, 7, 8)

In [37]:
print(type(nums))
print(type(nums1))

<class 'tuple'>
<class 'tuple'>

In [38]:
type(nums)

tuple

In [39]:
len(nums1)

8

In [42]:
nums[0]

1

In [43]:
nums[1:3]

(2, 3)

In [45]:
# nums[0] = 10 # Error, no se puede editar

In [46]:
new_fruits = tuple(('Orange','Cherry','Lemon'))

In [48]:
'Orange' in new_fruits

True

In [49]:
'Cherry' not in new_fruits

False

In [52]:
# del new_fruits
# new_fruits

# Dictionaries Data Structure
* Dictionary is mutable key value pairs to store collections
* Syntax: **{Key: Value}** or **dict({Key: Value})**

In [53]:
new_D = {'Ronaldo': 36, 'Messi': 34, 'Salah': 27}
new_D1 = dict({'Dany':33, 'Sane': 24, 'Sam':30})
print(type(new_D))
print(type(new_D1))

<class 'dict'>
<class 'dict'>

In [54]:
# Sequens of tuples
children = dict({
    ('Child1','5'),
    ('Child2','6'),
    ('Child3','7'),
})
type(children)

dict

In [55]:
new_D['Messi']

34

In [56]:
new_D['Messi'] = 35
new_D

{'Ronaldo': 36, 'Messi': 35, 'Salah': 27}

In [57]:
del new_D['Messi']
new_D

{'Ronaldo': 36, 'Salah': 27}

In [58]:
'Messi' in new_D

False

In [61]:
new_D['Messi'] = 35
new_D

{'Ronaldo': 36, 'Salah': 27, 'Messi': 35}

# Set Data Structure
* Set is unordered and immutable collection 
* No duplicates in sets
* Syntax: **{1, 2, 3}** or **set([1, 2, 3])**

In [62]:
set_nums = set((1, 2, 3, 4, 5))
set_nums1 = {1, 2, 3, 4, 5, 6}
print(type(set_nums))
print(type(set_nums1))

<class 'set'>
<class 'set'>

In [63]:
set('Python')

{'P', 'h', 'n', 'o', 't', 'y'}

In [64]:
x = set({1:'name', 2:'age'})
type(x)

set

In [65]:
del x 
x

NameError: name 'x' is not defined